{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Контакты</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">
</head>

<div class="logo">
	<a href="{%url 'index'%}">Энергетический мир</a>	
</div>
<body>	
</body>
</html>
<div class="contact">
	<h1>По всем вопросам</h1>
	<h2>Имя: Наталья Родионова</h2>
	<h2>Телефон: +7 905 770 14 15</h2>
</div>
<style>
	.contact{
		color: #FFFFFF;
		font-family: Open Sans;
		margin-top: center;
		margin-left: 38%;
	}
</style>
<style>
	*{
		background: #000000;
	}
</style>

<style>
	.logo a{
	color: #fff;
	text-align: center;
	padding: 12px 16px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	font-family: Open Sans;
	margin-top: 60px;
	margin-left: 3%
	}
</style>
<style>
	.logo a:hover{
	border-bottom: 3px solid #fcac45;

	}
</style>